*{
    color: #000000;
}
body{
    background-color: #f0f0d8;
}
div.comands{
    background-color: #1693a5;
    padding: 5px;
    margin: 30px;
}
div.content{
    background-color: #d8d8c0;
    padding: 10px;
}
input{
    color: #000000;
}
button{
    color: #000;
    background-color: #1693a5;
    border-radius: 2px;
    margin: 10px;
}